In [2]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv(r'C:\Users\ELCOT\OneDrive\Desktop\fleet analytics\fleetusage.csv')

In [54]:
print(data)

     ExtractDate                                    OrganisationURI  \
0     13/07/2016  http://opendatacommunities.org/id/metropolitan...
1     13/07/2016  http://opendatacommunities.org/id/metropolitan...
2     13/07/2016  http://opendatacommunities.org/id/metropolitan...
3     13/07/2016  http://opendatacommunities.org/id/metropolitan...
4     13/07/2016  http://opendatacommunities.org/id/metropolitan...
...          ...                                                ...
1160  13/07/2016  http://opendatacommunities.org/id/metropolitan...
1161  13/07/2016  http://opendatacommunities.org/id/metropolitan...
1162  13/07/2016  http://opendatacommunities.org/id/metropolitan...
1163  13/07/2016  http://opendatacommunities.org/id/metropolitan...
1164  13/07/2016  http://opendatacommunities.org/id/metropolitan...

     OrganisationLabel                     ServiceTypeURI  ServiceTypeLabel  \
0                Leeds  http://id.esd.org.uk/subject/7539  Fleet Management
1                Leeds  http://id.esd.org.uk/subject/7539  Fleet Management
2                Leeds  http://id.esd.org.uk/subject/7539  Fleet Management
3                Leeds  http://id.esd.org.uk/subject/7539  Fleet Management
4                Leeds  http://id.esd.org.uk/subject/7539  Fleet Management
...                ...                                ...               ...
1160             Leeds  http://id.esd.org.uk/subject/7539  Fleet Management
1161             Leeds  http://id.esd.org.uk/subject/7539  Fleet Management
1162             Leeds  http://id.esd.org.uk/subject/7539  Fleet Management
1163             Leeds  http://id.esd.org.uk/subject/7539  Fleet Management
1164             Leeds  http://id.esd.org.uk/subject/7539  Fleet Management

      Fleet number Vehicle Type      Make               Model  \
0                1    Limousine    Jaguar  XJL Portfolio V6 D
1                2          Car    Toyota        Toyota Prius
2                3    Limousine       NaN     Plate Retention
3               11          Car      Ford          Focus Edge
4               12          Car  Vauxhall         CORSA  CDTI
...            ...          ...       ...                 ...
1160         98071    Quad Bike    Yamaha          350cc Quad
1161         98072    Quad Bike    Yamaha          350cc Quad
1162         98073    Quad Bike    Yamaha          350cc Quad
1163         98074    Quad Bike    Yamaha          350cc Quad
1164         98076    Quad Bike    Yamaha          350cc Quad

     Date of 1st Registration Estimated Disposal  \
0                    9/3/2012           8/3/2020
1                  27/11/2007         26/11/2015
2                   11/4/2013           8/4/2017
3                  24/01/2014         23/01/2017
4                  13/11/2015         12/11/2023
...                       ...                ...
1160                 7/2/2012           7/2/2020
1161                 7/2/2012           7/2/2020
1162                 7/2/2012           7/2/2020
1163               22/03/2012         22/03/2020
1164               24/03/2014         24/03/2023

                                        Description                  Dept  \
0            Jaguar XJ Longwheel base Portfolio Car            Lord Mayor
1                               Toyota Prius Hybrid            Lord Mayor
2         Private Plate on retention til 08/04/2017            Lord Mayor
3                            Ford Focus Edge 5 Door           Leeds Watch
4     Vauxhall Corsa 1.3 CDTI 5 Door ECOFLEX Design  Assisted Living Leed
...                                             ...                   ...
1160                         Yamaha 350cc Quad Bike     Highways Seacroft
1161                         Yamaha 350cc Quad Bike      Highways Pottery
1162                         Yamaha 350cc Quad Bike      Highways Henshaw
1163    Yamaha 350cc Quad Bike STOLEN not Recovered      Highways Pottery
1164                         Yamaha 350cc Quad Bike      Highways Henshaw

                     Depot Fuel Used  Total Distance Unit of Dist Cameras  \
0               Lord Mayor    Diesel           10116          MPH    None
1               Lord Mayor    Hybrid           24804          MPH    None
2               Lord Mayor     Other               0          MPH    None
3              Leeds Watch    Diesel          159180          MPH    None
4     Assisted Living Leed         D               8          MPH    None
...                    ...       ...             ...          ...     ...
1160     Seacroft Highways    Petrol               0          MPH    None
1161        Pottery Fields    Petrol               0          MPH    None
1162               Henshaw    Petrol               0          MPH    None
1163        Pottery Fields    Petrol               0          MPH    None
1164               Henshaw    Petrol               0          MPH    None

                  Workshop
0     NOT Maintained byLCC
1     NOT Maintained byLCC
2     NOT Maintained byLCC
3       Transport Services
4       Transport Services
...                    ...
1160  NOT Maintained byLCC
1161  NOT Maintained byLCC
1162  NOT Maintained byLCC
1163  NOT Maintained byLCC
1164  NOT Maintained byLCC

[1165 rows x 19 columns]

In [12]:
data.isnull().sum()

ExtractDate                 0
OrganisationURI             0
OrganisationLabel           0
ServiceTypeURI              0
ServiceTypeLabel            0
Fleet number                0
Vehicle Type                0
Make                        1
Model                       0
Date of 1st Registration    0
Estimated Disposal          0
Description                 0
Dept                        0
Depot                       0
Fuel Used                   0
Total Distance              0
Unit of Dist                0
Cameras                     0
Workshop                    0
dtype: int64

In [13]:
data['Make']

0         Jaguar
1         Toyota
2            NaN
3           Ford
4       Vauxhall
          ...
1160      Yamaha
1161      Yamaha
1162      Yamaha
1163      Yamaha
1164      Yamaha
Name: Make, Length: 1165, dtype: object

In [ ]:
#getting null rows

In [14]:
null=pd.isnull(data['Make'])

In [15]:
data[null]

,ExtractDate,OrganisationURI,OrganisationLabel,ServiceTypeURI,ServiceTypeLabel,Fleet number,Vehicle Type,Make,Model,Date of 1st Registration,Estimated Disposal,Description,Dept,Depot,Fuel Used,Total Distance,Unit of Dist,Cameras,Workshop
2,13/07/2016,http://opendatacommunities.org/id/metropolitan...,Leeds,http://id.esd.org.uk/subject/7539,Fleet Management,3,Limousine,NaN,Plate Retention,11/4/2013,8/4/2017,Private Plate on retention til 08/04/2017,Lord Mayor,Lord Mayor,Other,0,MPH,None,NOT Maintained byLCC

In [ ]:
#count of a data frame rows

In [40]:
len(data.index)  #using index the finding the length of full data frame including null values

1165

In [20]:
len(data)

1165

In [21]:
len(data['Make'])

1165

In [ ]:
#using axes[0,1]

In [46]:
data.axes[0] #print  number of rows using index

RangeIndex(start=0, stop=1165, step=1)

In [45]:
data.axes[1]   # axes (index) prints the columns

Index(['ExtractDate', 'OrganisationURI', 'OrganisationLabel', 'ServiceTypeURI',
       'ServiceTypeLabel', 'Fleet number', 'Vehicle Type', 'Make', 'Model',
       'Date of 1st Registration', 'Estimated Disposal', 'Description', 'Dept',
       'Depot', 'Fuel Used', 'Total Distance', 'Unit of Dist', 'Cameras',
       'Workshop'],
      dtype='object')

In [ ]:
#using shape()[0,1]

In [25]:
data.shape[0]  #shape count using 0,1

1165

In [42]:
data.shape[1] #count the columns

19

In [ ]:
#count

In [26]:
data[data.columns[0]].count()

1165

In [52]:
data['Make'].count()

1164

In [69]:
data[data.columns[7]].count()

1164

In [68]:
print(data.columns[0])# first column name
print(data.columns[1])
print(data.columns[2])

ExtractDate
OrganisationURI
OrganisationLabel

In [ ]:
#count a column value

In [32]:
data['Make'].count() # without counting the null value

1164

In [34]:
data[['Make','Model']].count()

Make     1164
Model    1165
dtype: int64

In [38]:
print(data.count(),"ooooo",data.shape[0])

ExtractDate                 1165
OrganisationURI             1165
OrganisationLabel           1165
ServiceTypeURI              1165
ServiceTypeLabel            1165
Fleet number                1165
Vehicle Type                1165
Make                        1164
Model                       1165
Date of 1st Registration    1165
Estimated Disposal          1165
Description                 1165
Dept                        1165
Depot                       1165
Fuel Used                   1165
Total Distance              1165
Unit of Dist                1165
Cameras                     1165
Workshop                    1165
dtype: int64 ooooo 1165

In [ ]:
#count values in a column

In [31]:
data.columns[1].count('OrganisationURI')

1

In [64]:
data['ExtractDate'][data['Make']=='Yamaha'].count()

5

In [ ]:
#iloc

In [77]:
data.iloc[2] # second row with columns names

ExtractDate                                                        13/07/2016
OrganisationURI             http://opendatacommunities.org/id/metropolitan...
OrganisationLabel                                                       Leeds
ServiceTypeURI                              http://id.esd.org.uk/subject/7539
ServiceTypeLabel                                             Fleet Management
Fleet number                                                                3
Vehicle Type                                                        Limousine
Make                                                                      NaN
Model                                                         Plate Retention
Date of 1st Registration                                            11/4/2013
Estimated Disposal                                                   8/4/2017
Description                         Private Plate on retention til 08/04/2017
Dept                                                               Lord Mayor
Depot                                                              Lord Mayor
Fuel Used                                                               Other
Total Distance                                                              0
Unit of Dist                                                              MPH
Cameras                                                                  None
Workshop                                                 NOT Maintained byLCC
Name: 2, dtype: object

In [78]:
data.iloc[3]# third row with columns names

ExtractDate                                                        13/07/2016
OrganisationURI             http://opendatacommunities.org/id/metropolitan...
OrganisationLabel                                                       Leeds
ServiceTypeURI                              http://id.esd.org.uk/subject/7539
ServiceTypeLabel                                             Fleet Management
Fleet number                                                               11
Vehicle Type                                                              Car
Make                                                                     Ford
Model                                                              Focus Edge
Date of 1st Registration                                           24/01/2014
Estimated Disposal                                                 23/01/2017
Description                                            Ford Focus Edge 5 Door
Dept                                                              Leeds Watch
Depot                                                             Leeds Watch
Fuel Used                                                              Diesel
Total Distance                                                         159180
Unit of Dist                                                              MPH
Cameras                                                                  None
Workshop                                                   Transport Services
Name: 3, dtype: object

In [88]:
data.loc[0][1] # 0 for row number 1 for column number

'http://opendatacommunities.org/id/metropolitan-district-council/leeds'

In [95]:
data.loc[0][7]

'Jaguar'

In [98]:
data.iloc[0][7] # both loc and iloc will give same

'Jaguar'

In [ ]:
#column index by name

In [101]:
data.columns.get_loc('Make')

7

In [4]:
data['Make'].index

RangeIndex(start=0, stop=1165, step=1)